.hero-wrapper {
  background-color: var(--sub-bg-color);
}
.hero-wrapper .logo,
.hero-wrapper .nav__link,
.hero-wrapper .title,
.hero-wrapper .sub-title,
.hero-wrapper .text,
.hero-wrapper .footer__title,
.hero-wrapper .footer__link,
.hero-wrapper .footer__span,
.policy-item-title {
  color: var(--sub-text-color);
}
.hero-wrapper .nav__link::after,
.hero-wrapper .footer__link::after,
.hero-wrapper .header__btn span,
.hero-wrapper .header__btn span::before,
.hero-wrapper .header__btn span::after {
  background-color: var(--sub-text-color);
}
.hero-wrapper .header__btn.active span,
.hero-wrapper .header__btn.active span::before,
.hero-wrapper .header__btn.active span::after {
  background-color: var(--main-text-color);
}
.hero-wrapper .open-menu .nav__link {
  color: var(--main-text-color);
}
.hero {
  text-align: center;
  padding: 12rem 0;
}
.hero .title {
  margin: 0 auto 1rem;
  max-width: 60rem;
}
.hero-block .text {
  margin: 0 auto 4rem;
  max-width: 30rem;
}

.phrase-circles-list,
.hero-circles-list,
.contacts-circles-list {
  display: none;
}
.phrase__wrapper {
  overflow: hidden;
}
.phrase__wrapper .container {
  position: relative;
}
.phrase {
  padding: 10rem 0;
  text-align: center;
}
.phrase .title {
  margin-bottom: 4rem;
}
.phrase .btn {
  color: var(--sub-text-color);
  background-color: transparent;
  border-color: var(--sub-text-color);
}

.policy {
  padding: 10rem 0;
  text-align: center;
}
.policy-list {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 40rem;
  margin: 0 auto;
}
.policy-item-title {
  font-family: var(--title-font);
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.policy-item .text {
  margin-bottom: 3rem;
}

.contacts {
  padding: 12rem 0;
  text-align: center;
}
.contacts-text {
  margin: 0 auto 3rem;
  max-width: 40rem;
}
.contacts-box {
  margin-bottom: 10rem;
}
.contacts-img {
  display: none;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.contacts-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .text-bold {
  font-family: var(--title-font);
  margin-bottom: 0.5rem;
}

.question {
  padding: 10rem 0;
}

@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 5rem;
    text-align: left;
  }
  .hero-block {
    display: flex;
    justify-content: center;
    padding: 10rem 10rem 0rem;
  }
  .hero .title,
  .hero-block .text,
  .hero-block .btn {
    margin: 0;
  }
  .hero-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
  }
  .hero-circles-list {
    display: flex;
    justify-content: space-between;
  }
  .hero-circles-list li {
    width: 33rem;
    height: 33rem;
    border-radius: 50%;
    position: relative;
  }
  .hero-circles-list li:first-child {
    background-color: var(--fourth-brand-color);
  }
  .hero-circles-list li:nth-child(2),
  .hero-circles-list li:nth-child(3),
  .hero-circles-list li:last-child {
    background-color: var(--second-brand-color);
  }
  .hero-circles-list li::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    z-index: 2;
  }
  .hero-circles-list li:first-child::after {
    background-color: var(--third-brand-color);
    right: -5rem;
    opacity: 0.8;
    filter: brightness(150%);
  }
  .hero-circles-list li:nth-child(2)::after {
    background-color: var(--fourth-brand-color);
    right: -2rem;
    opacity: 0.7;
  }
  .hero-circles-list li:nth-child(3)::after {
    background-color: var(--third-brand-color);
    width: 20rem;
    height: 33rem;
    transform: skew(-35deg);
    border-radius: unset;
    opacity: 0.8;
    left: 4rem;
  }
  .hero-circles-list li:last-child::after {
    background-color: var(--second-brand-color);
    filter: brightness(200%);
    left: -5rem;
    opacity: 0.8;
  }

  .phrase-circles-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .phrase-circles-list li {
    width: 11.5rem;
    height: 11.5rem;
    position: relative;
  }
  .phrase-circles-list li::after,
  .phrase-circles-list li::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
  }
  .phrase-circles-list li::after {
    z-index: 2;
  }
  .phrase-circles-list li:first-child::before,
  .phrase-circles-list li:nth-child(25)::before {
    background-color: var(--main-bg-color);
    opacity: 0.9;
  }
  .phrase-circles-list li:first-child::after,
  .phrase-circles-list li:nth-child(25)::after {
    background-color: var(--main-bg-color);
    opacity: 0.9;
    right: -1rem;
  }

  .phrase-circles-list li:nth-child(2)::before,
  .phrase-circles-list li:nth-child(11)::before,
  .phrase-circles-list li:nth-child(26)::before,
  .phrase-circles-list li:nth-child(35)::before {
    background-color: var(--second-brand-color);
    opacity: 0.9;
  }
  .phrase-circles-list li:nth-child(2)::after,
  .phrase-circles-list li:nth-child(11)::after,
  .phrase-circles-list li:nth-child(26)::after,
  .phrase-circles-list li:nth-child(35)::after {
    background-color: var(--third-brand-color);
    width: 7rem;
    height: 11.5rem;
    transform: skew(35deg);
    border-radius: unset;
    opacity: 0.6;
    left: 3rem;
  }
  .phrase-circles-list li:nth-child(11)::after,
  .phrase-circles-list li:nth-child(26)::after {
    transform: skew(-35deg);
  }

  .phrase-circles-list li:nth-child(3)::before,
  .phrase-circles-list li:nth-child(6)::before,
  .phrase-circles-list li:nth-child(28)::before,
  .phrase-circles-list li:nth-child(30)::before {
    background-color: var(--second-brand-color);
    opacity: 0.8;
  }
  .phrase-circles-list li:nth-child(3)::after,
  .phrase-circles-list li:nth-child(6)::after,
  .phrase-circles-list li:nth-child(28)::after,
  .phrase-circles-list li:nth-child(30)::after {
    background-color: var(--fourth-brand-color);
    opacity: 0.8;
    left: -1.5rem;
  }
  .phrase-circles-list li:nth-child(28)::before {
    left: 1.5rem;
  }
  .phrase-circles-list li:nth-child(28)::after {
    left: -0.5rem;
  }

  .phrase-circles-list li:nth-child(4)::before,
  .phrase-circles-list li:nth-child(9)::before,
  .phrase-circles-list li:nth-child(16)::before,
  .phrase-circles-list li:nth-child(23)::before {
    background-color: var(--second-brand-color);
    opacity: 0.8;
    margin-left: -1.5rem;
  }
  .phrase-circles-list li:nth-child(4)::after,
  .phrase-circles-list li:nth-child(9)::after,
  .phrase-circles-list li:nth-child(16)::after,
  .phrase-circles-list li:nth-child(23)::after {
    background-color: var(--third-brand-color);
    opacity: 0.6;
    right: -0.5rem;
  }
  .phrase-circles-list li:nth-child(9)::before,
  .phrase-circles-list li:nth-child(16)::before {
    margin-left: 1.8rem;
  }
  .phrase-circles-list li:nth-child(9)::after,
  .phrase-circles-list li:nth-child(16)::after {
    right: unset;
    left: 0.5rem;
  }

  .phrase-circles-list li:nth-child(5)::before,
  .phrase-circles-list li:nth-child(8)::before,
  .phrase-circles-list li:nth-child(12)::before,
  .phrase-circles-list li:nth-child(14)::before,
  .phrase-circles-list li:nth-child(29)::before,
  .phrase-circles-list li:nth-child(32)::before,
  .phrase-circles-list li:nth-child(36)::before {
    background-color: var(--second-brand-color);
    opacity: 0.8;
    margin-left: -0.5rem;
  }
  .phrase-circles-list li:nth-child(5)::after,
  .phrase-circles-list li:nth-child(8)::after,
  .phrase-circles-list li:nth-child(12)::after,
  .phrase-circles-list li:nth-child(14)::after,
  .phrase-circles-list li:nth-child(29)::after,
  .phrase-circles-list li:nth-child(32)::after,
  .phrase-circles-list li:nth-child(36)::after {
    background-color: var(--main-bg-color);
    opacity: 0.8;
    right: -1rem;
  }
  .phrase-circles-list li:nth-child(8)::before,
  .phrase-circles-list li:nth-child(32)::before {
    margin-left: 1.5rem;
  }
  .phrase-circles-list li:nth-child(8)::after,
  .phrase-circles-list li:nth-child(32)::after {
    left: 0;
    right: unset;
  }

  .phrase-circles-list li:nth-child(7)::before,
  .phrase-circles-list li:nth-child(10)::before,
  .phrase-circles-list li:nth-child(33)::before {
    background-color: var(--second-brand-color);
    opacity: 0.8;
  }
  .phrase-circles-list li:nth-child(7)::after,
  .phrase-circles-list li:nth-child(10)::after,
  .phrase-circles-list li:nth-child(33)::after {
    background-color: var(--fourth-brand-color);
    opacity: 0.8;
    right: -1.5rem;
  }

  .phrase-circles-list li:nth-child(13)::before,
  .phrase-circles-list li:nth-child(24)::before {
    background-color: var(--fourth-brand-color);
    opacity: 0.8;
  }
  .phrase-circles-list li:nth-child(13)::after,
  .phrase-circles-list li:nth-child(24)::after {
    background-color: var(--fourth-brand-color);
    opacity: 0.8;
    right: -1rem;
  }

  .phrase-circles-list li:nth-child(15)::before,
  .phrase-circles-list li:nth-child(17)::before,
  .phrase-circles-list li:nth-child(18)::before,
  .phrase-circles-list li:nth-child(20)::before,
  .phrase-circles-list li:nth-child(31)::before,
  .phrase-circles-list li:nth-child(34)::before {
    background-color: var(--fourth-brand-color);
    opacity: 0.8;
    left: 1rem;
  }
  .phrase-circles-list li:nth-child(15)::after,
  .phrase-circles-list li:nth-child(17)::after,
  .phrase-circles-list li:nth-child(18)::after,
  .phrase-circles-list li:nth-child(20)::after,
  .phrase-circles-list li:nth-child(31)::after,
  .phrase-circles-list li:nth-child(34)::after {
    background-color: var(--third-brand-color);
    opacity: 0.5;
    left: -0.5rem;
  }
  .phrase-circles-list li:nth-child(17)::after,
  .phrase-circles-list li:nth-child(34)::after {
    left: unset;
    right: -2rem;
  }

  .phrase-circles-list li:nth-child(19)::before,
  .phrase-circles-list li:nth-child(22)::before {
    background-color: var(--fourth-brand-color);
    opacity: 0.8;
  }
  .phrase-circles-list li:nth-child(19)::after,
  .phrase-circles-list li:nth-child(22)::after {
    background-color: var(--main-bg-color);
    opacity: 0.8;
    right: -1.5rem;
  }

  .phrase-circles-list li:nth-child(21)::before,
  .phrase-circles-list li:nth-child(27)::before {
    background-color: var(--third-brand-color);
    opacity: 0.8;
  }
  .phrase-circles-list li:nth-child(21)::after,
  .phrase-circles-list li:nth-child(27)::after {
    background-color: var(--third-brand-color);
    opacity: 0.8;
    right: -1.5rem;
  }

  .policy-list {
    max-width: 120rem;
    gap: 30rem;
    flex-direction: row;
  }

  .contacts-circles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 60rem;
    gap: 0.5rem;
    flex-grow: 1;
    margin-right: 20rem;
  }
  .contacts-circles-list li {
    width: 11.5rem;
    max-width: 11.5rem;
    height: 11.5rem;
    position: relative;
    background-color: var(--first-brand-color);
    border-radius: 50%;
    width: calc((100% - 0.1rem) / 5);
  }
  .contacts-circles-list li:nth-child(2),
  .contacts-circles-list li:nth-child(15),
  .contacts-circles-list li:nth-child(22) {
    background-color: unset;
  }
  .contacts-circles-list li:nth-child(2)::before,
  .contacts-circles-list li:nth-child(22)::before {
    width: 7rem;
    height: 11.5rem;
    transform: skew(35deg) translate(-50%, 0);
    border-radius: unset;
    background-color: var(--third-brand-color);
    display: block;
    content: ' ';
    position: absolute;
    left: 50%;
  }
  .contacts-circles-list li:nth-child(15)::before {
    width: 7rem;
    height: 11.5rem;
    transform: skew(-35deg) translate(-50%, 0);
    border-radius: unset;
    background-color: var(--fourth-brand-color);
    display: block;
    content: ' ';
    position: absolute;
    left: 50%;
  }
  .contacts {
    display: flex;
    align-items: center;
    text-align: left;
  }
  .contacts-item {
    flex-direction: row;
  }
  .contacts .text-bold {
    margin: 0 1rem 0 0;
  }
  .contacts-box {
    margin-bottom: 20rem;
  }
  .contacts .btn {
    margin-left: 0;
  }
  .contacts-item-link a {
    transition: color 0.3s ease-out;
  }
  .contacts-item-link a:hover {
    color: var(--second-brand-color);
  }
}
