:root {
  --main-bg-color: #fff;
  --sub-bg-color: #1e1f1d;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #fffef7;
  --second-brand-color: #ff691f;
  --third-brand-color: #6161fc;
  --fourth-brand-color: #c0f32a;

  --main-font: 'Open Sans';
  --title-font: 'Open Sans Bold';
  --main-title-font: 'Open Sans ExtraBold';

  font-size: 62.5%;
}
